 
                                /* repeating-linear-gradient( 45deg, white , lightgray 60px, gray 50px)*/
                                /*45deg,   or  to right */
                                /*transparent or rgb(70,0,255)*/
                                /*background: repeating-linear-gradient(45deg, white , rgb(154, 170, 192) 50px ,rgb(66, 116, 163) 60px);*/
   
/*   
    background: 
    linear-gradient(45deg,rgb(66, 116, 163) ,transparent 90%),
    repeating-linear-gradient(45deg, rgb(122, 164, 255) 0%, rgb(134, 173, 209) 5%, transparent 5%, transparent 10%,rgb(170, 214, 255) 10%, rgb(66, 116, 163) 11%,transparent 11%, transparent 13%),
    rgb(66, 116, 163) repeating-linear-gradient(-45deg, rgb(170, 214, 255) 0%, rgb(122, 164, 255) 5%, transparent 5%, transparent 10%);
*/

/*
background: 
linear-gradient(90deg,rgb(66, 116, 163) ,transparent 90%),
repeating-linear-gradient(90deg, rgb(122, 164, 255) 0%, rgb(134, 173, 209) 5%, transparent 5%, transparent 10%,rgb(170, 214, 255) 10%, rgb(66, 116, 163) 11%,transparent 11%, transparent 13%),
rgb(66, 116, 163) repeating-linear-gradient(rgb(170, 214, 255) 0%, rgb(122, 164, 255) 5%, transparent 5%, transparent 10%);




background: 
linear-gradient(90deg,rgba(228, 228, 228, 0.685) ,transparent 90%),
repeating-linear-gradient(90deg, rgba(228, 228, 228, 0.685) 0%, rgba(228, 228, 228, 0.685) 5%, transparent 5%, transparent 10%,rgba(121, 123, 247, 0.918) 10%, rgba(121, 123, 247, 0.918) 11%,transparent 11%, transparent 13%),
rgba(228, 228, 228, 0.685) repeating-linear-gradient(rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.795) 3%, transparent 3%, transparent 15%);
*/






 /* *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 } */

main{
    width: 100%;
}
.content-menu{
    width: 100px;
    background: #161616;
}

.content-menu li{
    list-style: none;
    text-align: center;
    padding: 20px; 
}

.content-menu li span{
   font-size: 40px;
}

/* .content-menu li h4{

} */



.welcome{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding:20px;
}
.welcome img{
    width: 280px;
    height: 120px;
    text-align:center;
}
.welcome h1{
    font-size: 50px;
    color: white;
    font-weight:100;
    margin-top:20px;
}
.welcome a{
    display:block;
    margin-top: 40px;
    font-size: 20px;
    padding:10px;
    border:1px solid white;
}
.welcome a:hover{
    color:black;
    background:white;
}