.login-form{
    width: 70%;
    background: #f1f1f1;
    border-radius: 10px; 
    width: 100%;
    margin: auto; 
    text-align: center;
    vertical-align: middle;

    padding:25px;
    padding-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%; 
    display: inline-flexbox;  
    padding-bottom: 20px; 
    box-sizing: border-box;
    box-shadow: 0 15px 25px #5c3745a1;

}

h3{
    padding-top:25px;
    padding-bottom:10px;
    text-align: left;
    font-family: sans-serif;
    color: #410b12ab;
    text-shadow: 0 1px 2px #3f3f3fa1;
}
.imagen{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10px;
}
 
 .GOB{
    width: 40%;
    height: 220px;
    margin: auto;   
    float:right;
    display: block;
    padding-right: 10%;
  
}
.checkgv{
    margin-top: 6px;
}

.checkgv label{
    font-size: 1em;
    color: #851827af;
}
.checkgv input[type=checkbox]{
    display: none;
}

.checkgv input[type=checkbox] + label{
    cursor: pointer;
}

.checkgv label:before{
    content: '';
    border: 1px solid #410b127e;
    background:transparent;
    border-radius: 5px;
    display: inline-block;
    margin-right: 4px;
    height: 11px;
    width: 11px;
    text-shadow: 2px -1px 2px #dddcdc;
    vertical-align: middle;
}

.checkgv input[type=checkbox]:checked + label:before{
    content: ' ✔';
    font-size: 9px;
    color: #f1f1f1;
    background: #410b127e;

}
/* ----------------------------------------------- */
.inputButton input:hover{
    background: #410b127e;
    box-shadow: 2px  2px rgba(88, 88, 88, 0.34);
}

.inputButton input{
    padding:5px 10px 5px 10px ;
    color:#410b127e; 
    font-size: 15px;
    font-weight: bold;
    /* background: #410b127e; */
    border: 1px solid #410b127e ;
    border-radius: 10px;
    text-shadow: 0  1px rgba(88, 88, 88, 0.591);
    cursor: pointer;

}



/* ------------------------------------ */
.inputBox{
    position: relative;
}
.inputBox input{
    text-transform:uppercase;

    width: 90%;
    padding: 3px 0; 
    margin-top: 5px;
    margin-bottom: 0px;
    color:rgb(70, 72, 97); 
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #410b127e;
    box-shadow: 0  1px rgba(43, 42, 42, 0.123);
}
 


.inputBox label{
   
    top: 0;
    left: 0;
    padding: 11px 0; 
    font-size: 16px; 
    color: #410b12ab;
    text-shadow: 1px 3px 4px #3f3f3f85;
    pointer-events: none;
    position: absolute;
    transition: .5s;
}
 


 ::placeholder{
    color: #c5c4c4; 
    font-size: 11px;
    font-weight: normal;
}
 
.inputBox input:focus ~ label,
.inputBox input:valid ~ label{
 top:-18px;
 color: #851827af;
 text-shadow: 0 1px 2px #3f3f3f62;
 font-size: 13px;
}
 
.desabilitado  label{
 top:-18px;
 color: #851827af;
 text-shadow: 0 1px 2px #3f3f3f62;
 font-size: 13px;
 text-shadow: 1px 3px 4px #3f3f3f85;
 pointer-events: none;
 position: absolute;
}

/* ---------------------------------------------------- */
.containerheader{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 150px;   
    grid-column-gap: 3px;
    grid-row-gap: 3px; 
}
.containerheader1{
    display: grid;
    grid-template-columns: 95% ;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.containerheader2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70%;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
 
.item{ 
    /* background: lightblue; 
    border: 1px solid red; */
    text-align: left;
    grid-column-gap: 3px;
    grid-row-gap: 3px; 
}

.itemh{
    display: grid; 
    grid-template: 100% / 40% 60%; 
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.itemh1{ 
    display: grid; 
    grid-template-columns: 100% ;
    grid-template-rows: 45px 45px 45px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.itemh2{  
   
    display: grid; 
    grid-template: 100% /  100%; 
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
/* -------------------------------------------------- */

.containerpersonal{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 260px;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.containerpersonal-izq{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;  
    /* grid-template-rows: 1fr 1fr 1fr 30px 30px 30px ;  */
    grid-column-gap: 3px;
    grid-row-gap: 3px;  
}
.containerpersonal-der{ 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 20px 20px 20px 20px 20px 20px 20px 20px ;  
    grid-column-gap: 3px;
    grid-row-gap: 3px;  
}

.containerpersonal-nombre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;  
}
.containerpersonal-datos{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;  
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.containerpersonal-direccion{
    display: grid;
    grid-template-columns: 1.2fr 2fr .4fr 1.2fr 2fr .4fr;
    /* grid-template-rows: 35px;   */
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}




/* OCULTAR PROCESO ------------------------------------------------------------------------------*/

.div{
    transition: all 300ms;
}
.hidenproveedor{
    display: none;
    overflow: hidden;
    height: 0px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */


.containerpersonal-curprfc{
    display: grid;
    grid-template-columns:  2fr 2fr .5fr .5fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.containerpersonal-gp{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100%;    
}
/* --------------------------------------------- */
.containercontacto{
    display: grid;
    grid-template-columns: 1fr 2fr .5fr 1fr;
    grid-template-rows: 40px;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
/* --------------------------------------------------- */
.containerproy{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px 40px ;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
 
.containerproy-datos{
    display: grid;
    grid-template-columns: 2fr .8fr 2fr 2fr;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.containerproy-dir{
    display: grid;
    grid-template-columns:3fr .5fr .5fr 1fr;
    grid-template-rows: 35px;  
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.containerproy-direccion{
    display: grid;
    grid-template-columns: 1.5fr 2fr .4fr 1.5fr 2fr .4fr;  
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.containerproydir{
    display: grid;
    grid-template-columns: 100%;  
    grid-template-rows: 35px 35px 35px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

/* --------------------------------------------- */
.container-proveedor{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr .5fr;
    grid-template-rows: 40px;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
/* --------------------------------------------------- */
.containerobs{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px 35px 35px ;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
 
.container-obs1{
    display: grid;
    grid-template-columns:1fr;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.container-obs2{
    display: grid;
    grid-template-columns:50% 40%;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

 
/* --------------------------------------------- */

.limpiar input{
    width: 50%;
height: 100%;
left: 0px;
text-align: center;
}
.guardar input{
    width: 50%;
    height: 100%;
    left: 0px;
}
.container-buttons{
    display: grid;
    padding-top: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px;    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
 
/* -------------------------------- */
 
