.login-form{
    width: 70%;
    background: #851827cc;
    border-radius: 10px; 
    width: 100%;
    margin: auto; 
    text-align: center;
    vertical-align: middle;

    padding:25px;
    padding-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%; 
    display: inline-flexbox;  
    padding-bottom: 20px; 
    box-sizing: border-box;
    box-shadow: 0 15px 25px #5c3745a1;

}

h3{
    padding-top:25px;
    padding-bottom:10px;
    text-align: left;
    font-family: sans-serif;
    color: #410b12ab;
    text-shadow: 0 1px 2px #3f3f3fa1;
}
.imagen{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr;
}
 
 .GOB{
    width: 100%;
    height: 160px;
    margin: auto;   
    float:right;
    display: block;
    padding-right: 10%;
  
}
 
 
/* ----------------------------------------------- */
.inputButton input:hover{
    background: #410b127e;
    box-shadow: 2px  2px rgba(88, 88, 88, 0.34);
    color: #f1f1f1;
}

.inputButton input{
    padding:5px 10px 5px 10px ;
    color:#410b127e; 
    font-size: 15px;
    font-weight: bold;
    /* background: #410b127e; */
    border: 1px solid #410b127e ;
    border-radius: 10px;
    text-shadow: 0  1px rgba(88, 88, 88, 0.591);
    cursor: pointer;
    align-self: center;
}



/* ------------------------------------ */
.inputBox{
    position: relative;
}
.inputBox input{
    text-transform:uppercase;

    
    padding: 3px 0; 
    margin-top: 10px;
    margin-bottom: 0px;
    color:rgb(70, 72, 97); 
    font-size: 14px; 
    /* outline: none; */
    border-radius: 5px;
    background: #f1f1f1;
    border: 1px solid #410b127e;
    box-shadow: 0  1px rgba(43, 42, 42, 0.123);
}

.inputBox select{
    text-transform:uppercase;

    
    padding: 3px 0; 
    margin-top: 10px;
    margin-bottom: 0px;
    color:rgb(70, 72, 97); 
    font-size: 14px; 
    outline: none;
    border-radius: 5px;
    background: #f1f1f1;
    border: 1px solid #410b127e;
    box-shadow: 0  1px rgba(43, 42, 42, 0.123);
}

#selected {
    width:90%;
}
 
 
@media screen and (max-width: 1000px) {
.GOB{
display:none;
}
}


.inputBox label{
   
    top: 0;
    left: 0;
    padding: 14px 0; 
    font-size: 16px; 
    color:  #f1f1f1;
    text-shadow: 1px 3px 4px #3f3f3f85;
    pointer-events: none;
    position: absolute;
    transition: .5s;
}
 



 
.inputBox input:focus ~ label,
.inputBox input:valid ~ label{
 top:-18px;
 color: #f1f1f1;
 text-shadow: 0 1px 2px #3f3f3f62;
 font-size: 13px;
}

::placeholder{
    color: #c5c4c4; 
    font-size: 11px;
    font-weight: normal;
}
 
.desabilitado  label{
 top:-18px;
 color: #851827af;
 text-shadow: 0 1px 2px #3f3f3f62;
 font-size: 13px;
 text-shadow: 1px 3px 4px #3f3f3f85;
 pointer-events: none;
 position: absolute;
}

/* ---------------------------------------------------- */
.container-1x3{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;   
    grid-column-gap: 10px;
    grid-row-gap: 7px; 
}

.container-4x1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px 35px 35px;   
    grid-column-gap: 5px;
    grid-row-gap: 7px; 
}

.container-2x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 35px ;   
    grid-column-gap: 25px;
    grid-row-gap: 7px; 
}


.container-1x1{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 35px ;   
    grid-column-gap: 8px;
    grid-row-gap: 10px; 
}




.item{ 
    /* background: lightblue; 
    border: 1px solid red; */
    text-align: left;
    grid-column-gap: 15px;
    grid-row-gap: 10px; 
}

/* -------------------------------- */