 
                                /* repeating-linear-gradient( 45deg, white , lightgray 60px, gray 50px)*/
                                /*45deg,   or  to right */
                                /*transparent or rgb(70,0,255)*/
                                /*background: repeating-linear-gradient(45deg, white , rgb(154, 170, 192) 50px ,rgb(66, 116, 163) 60px);*/
   
/*   
    background: 
    linear-gradient(45deg,rgb(66, 116, 163) ,transparent 90%),
    repeating-linear-gradient(45deg, rgb(122, 164, 255) 0%, rgb(134, 173, 209) 5%, transparent 5%, transparent 10%,rgb(170, 214, 255) 10%, rgb(66, 116, 163) 11%,transparent 11%, transparent 13%),
    rgb(66, 116, 163) repeating-linear-gradient(-45deg, rgb(170, 214, 255) 0%, rgb(122, 164, 255) 5%, transparent 5%, transparent 10%);
*/

/*
background: 
linear-gradient(90deg,rgb(66, 116, 163) ,transparent 90%),
repeating-linear-gradient(90deg, rgb(122, 164, 255) 0%, rgb(134, 173, 209) 5%, transparent 5%, transparent 10%,rgb(170, 214, 255) 10%, rgb(66, 116, 163) 11%,transparent 11%, transparent 13%),
rgb(66, 116, 163) repeating-linear-gradient(rgb(170, 214, 255) 0%, rgb(122, 164, 255) 5%, transparent 5%, transparent 10%);




background: 
linear-gradient(90deg,rgba(228, 228, 228, 0.685) ,transparent 90%),
repeating-linear-gradient(90deg, rgba(228, 228, 228, 0.685) 0%, rgba(228, 228, 228, 0.685) 5%, transparent 5%, transparent 10%,rgba(121, 123, 247, 0.918) 10%, rgba(121, 123, 247, 0.918) 11%,transparent 11%, transparent 13%),
rgba(228, 228, 228, 0.685) repeating-linear-gradient(rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.795) 3%, transparent 3%, transparent 15%);
*/


body{
    width: 100%;
    height:100vh;
    vertical-align: middle;
    background: 
    linear-gradient(90deg,rgba(228, 228, 228, 0.685) ,transparent 90%),
    repeating-linear-gradient(90deg, rgba(228, 228, 228, 0.685) 0%, rgba(228, 228, 228, 0.685) 5%, transparent 5%, transparent 10%,rgb(255, 255, 255) 10%, rgb(255, 255, 255) 11%,transparent 11%, transparent 13%),
    rgb(228, 228, 228, 0.685) repeating-linear-gradient(rgba(228, 228, 228, 0.685) 0%, rgba(228, 228, 228, 0.685) 5%, transparent 5%, transparent 10%,rgb(255, 255, 255) 10%, rgb(255, 255, 255) 11%,transparent 11%, transparent 17%);
} 
  
  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
  }

a{
    text-decoration: none;
    color: white;
}
 

main{
    width: 100%;
    display: inline-flex; 
    vertical-align: middle; 
 
    
}

header span {
    font-size: 35px;
    padding: 10px;
    color:white;
    transition:all 300m;
    cursor: pointer;
    /* position: absolute;  */
    position: fixed;
    z-index: 4;
    top: 15px;
    left: 30px;
    background: #161616;
    border-radius: 100px; 
}

header span:hover{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
}

.header{
    width: 116px;
    height: 81px;
    background:#161616; 
    /* position: absolute; */
    position: fixed;
    z-index: 4;
    transition: all 195ms;
} 

.content-menu{
    width: 116px;
    background: #161616;
    /* position: relative; */
    position: fixed;
    z-index: 4;
    top: 77px;
    /* height: 88vh;  */
    height: 100%;
    transition: all 190ms;
}
 
.content-menu2{
    margin-left: -130px;
    /* transform: translateX(-120px); */
   
}
.header2{
    margin-left: -130px;
    /* transform: translateX(-120px); */
   
} 

.content-menu li{
    list-style: none;
    text-align: center;
    padding: 12px; 
    color: white;
    transition: all 300ms;
    cursor: pointer;
}

.content-menu li:hover{
    transform: translateY(5px);
    background: rgba(0,0,0,0.5);
}

.content-menu li span{
   font-size: 20px;
}

/* Flecha abajo */
.content-menu  label{
    font-size: 10px;
    position: relative; 
    color: rgb(207, 207, 207);
}
 


.content-menu li .text{
font-weight: 80;
transform: translateY(5px) translateX(-110px);
transition: all 300ms;
} 

.content-menu:hover li .text{
    transform:  translateX(0px);
    transition: all 300ms;
    } 



.icon1{
    color: rgb(255, 23, 112) ; 
}
.icon2{
    color: rgb(255, 166, 0) ; 
}
.icon3{
    color: rgb(209, 9, 102) ; 
}
.text3{
    color: rgb(209, 9, 102); 
    font-weight: 80;
}
.icon4{
    color: rgb(214, 73, 80) ; 
}
.text4{
    color: rgb(214, 73, 80)  ; 
    font-weight: 80;
}
.icon5{
    color: rgb(255, 226, 60) ;
}
.text5{
    color: rgb(255, 226, 60) ;
    font-weight: 80;
}
.icon6{
    color: rgb(255, 23, 81) ;
}
.text6{
    color: rgb(255, 23, 81);
    font-weight: 80;
}
.icon7{
    color: rgb(190, 155, 58) ;
}
.text7{
    color: rgb(190, 155, 58) ; 
    font-weight: 80;
}
.icon8{
    color: rgb(151, 48, 65) ; 
}


/* .content-menu .menu .activado > a{
    border-bottom: 1px solid rgb(214, 214, 214);
} */

.content-menu .menu .activado > a >h4 {
    /* border-bottom: 1px solid rgb(122, 122, 122);
  */
        transform:  translateX(0px);
        transition: all 300ms;  

}

  
.content-menu .menu ul{
    display: none;
} 
 
 /*Pagina principal contenido  */
 
 article {
    width: 100%;
   
    text-align: center;
    vertical-align: middle;

    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    margin-top: 1px;
    margin-left: 7%;
    margin-right: 7%; 
    display: inline-flexbox; 
   
  
}
 
.img-responsive{
     width: 40%;
     margin: auto;   
     box-shadow: 3px 2px 2px palevioletred;
}

img{
    max-width: 50%;
    width: 30%;
    text-align: center;
    display: inline-flexbox;
    vertical-align: middle;   
}

 