*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
}

body{
    height:100vh;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
     
}

.container-form{
    /* width: 700px;
    max-width:600px;
    background:#fff;
    position: absolute;
    opacity: .9; 

    margin: 6% auto;
    left: 0;
    right: 0;  
    top: 0;
    bottom: 0;
    */


  opacity: .85; 

  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  background:white;
  text-align: center;
  /* padding:20px; */
  padding-bottom: 15px;;
  display: inline-flexbox;
  box-shadow: 0 3px gray;


   
}

.header{
    widows: 100px;
    height:80px;
    padding: 10px;
    background: rgba(41, 45, 56, 0.966);
    display: flex;
    position: relative;

}

.logo-title{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}

.logo-title img{
    width: 200px;
    height: 60px;
}

.logo-title h2{
    margin-left: 10px;
    margin-top: 8px;
    color: white;
    font-weight: 300;
}

.menu{
    display:flex;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
}
.menu li{
    list-style: none;
    padding: 30px;
    padding-bottom: 27px;
    font-weight: 300; 
}

.line-li{
    border-bottom: 4px solid rgb(168, 30, 64);
}
.menu li:hover{
    border-bottom: 4px solid rgba(168, 30, 65, 0.541);
    cursor: pointer;
}

a{
    color:white;
}


/* formulario login */

.form{
    width:100%; 
}
.form .welcome-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.form .welcome-form h1{
    font-weight: 300;
    font-size: 30px;
    color: #898989;
}
.form  .welcome-form h2{
    font-size: 30px;
    margin-left: 10px;
    margin-top: -4px;
    /* font-weight: bold; */
    color: rgb(168, 30, 64);
}
.line-input{
    max-width: 350px;
    display: flex;
    border-bottom: 1px solid #efefef;
    margin:auto;
    margin-top: 40px;
    padding: 6px;
    position: relative;
}
.line-input input{
    border-style:none;
    outline: 0px;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
}
.line-input label{
    font-size: 20px;
    position: relative;
    top: -4;
    color: rgb(168, 30, 64);
}
  button{
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
     margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    background:rgb(168, 30, 64);
    border-style: none;
    outline: 0px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 

}
 button:hover{
    opacity: .9;
}
 button label{
    position: relative;
    left: 50px;
    font-size: 10px;
    cursor: pointer;
}

.mensaje{
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding: 6px;
    color: red;
}
.border-input{
    border-bottom: 1px solid rgb(168, 30, 64);
}















